h2 {
  font-size: 3rem;
  padding: 20px;
  text-align: center;
}

.form-container {
  width: 600px;
  margin: 0 auto;
}

input[type=text], [type=date] {
  margin: 0 auto;
  border: none;
  border-bottom: 2px solid #000000;
  width: 100%;
  padding: 12px; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 10px;
  opacity: 0.8;
}

label {
  font-size: 1rem;
  padding: 12px;
}

.add-button {
  background-color: #d28a76;
  padding: 10px;
  margin: 20px 0;
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
}

@media screen and (max-width: 375px) {
  .form-container {
    max-width: 80%;
    margin: 0 auto;
  }

  h2 {
    font-size: 2rem;
    padding: 20px;
    text-align: center;
  }
}