header {
  text-align: center;
  position:relative;
  overflow:hidden;
  height:50vw;
  min-height:400px;
  max-height:550px;
  min-width:300px;
  color:#eee;
}

header:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgb(35, 35, 37) 100%);
}

header:before {
  background: #c7c7c7 url(https://i.imgur.com/dqgDgMs.jpg) 50% 0 no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  content: "";
  width: 100%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0); backface-visibility: hidden;
  scale: (1.0, 1.0);
  transform: translateZ(0);
  animation: grow 360s  linear 10ms infinite;
  transition: all 0.5s ease-in-out;
  z-index: -2;
}

/* Allows header to scroll up */
@keyframes grow{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(-400px)}
}

.header-h1 {
  font-family: 'NeonAbsoluteSans';
  margin-top: 180px;
  font-size: 50px;
}

.header-p {
  font-family: 'Hurricane';
  font-size: 40px;
  color: #ffffff;
  line-height: 0.50rem;
}

.dashboard-image {
  max-width: 100%;
  filter: drop-shadow(4px 4px 4px #333333);
}

@media screen and (max-width: 875px) {
  .header-h1 {
    margin-top: 160px;
    font-size: 50px;
  }
}

@media screen and (max-width: 768px) {
  .header-h1 {
    margin-top: 130px;
    font-size: 50px;
  }
  
  .header-p {
    font-size: 40px;
    color: #ffffff;
  }
}

@media screen and (max-width: 518px) {
  .header-h1 {
    margin-top: 150px;
    font-size: 50px;
  }
  
  .header-p {
    font-size: 40px;
    color: #ffffff;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 308px) {
  .header-h1 {
    margin-top: 120px;
    font-size: 45px;
  }
  
  .header-p {
    font-size: 30px;
    color: #ffffff;
    line-height: 1.5rem;
  }
}