body {
	background-color: #c7c7c7; 
	margin: 0px 0px;
	padding:0; 
}

h3{
  font-family: 'Hurricane';
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 2rem;
  color:#000000;
  margin-top: 0;
}

h6 {
  font-family: 'Hurricane';
  font-size: 1.5rem;
  letter-spacing: 0px;
  line-height: 1.5rem;
}

.main-container {
  max-width: 80%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  filter: drop-shadow(4px 4px 4px #333333);
}

.image-div {
  width: 350px;
  padding: 10px 10px;
  margin: 10px 20px;
  float: left;
}

.main-wrapper {
  margin: 20px 20px;

}

.info-container {
  z-index: -1;
  font-size: 20px;
  padding: 20px 0;
}

.note-wrap {
  z-index: 1;
  top: 150px;
  left: 40px;
	width: 200px;
	min-height: 200px;
	padding: 30px 4px; 
	margin: 0 22px 44px 22px;
	position: absolute;
	font-size: 24px;
	vertical-align: top;
	background: #89a189;
	line-height: 34px; 
	text-align: center;
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.4);
}

.note-green {
	background: #89a189;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	transform: rotate(-10deg);
}

span {
  font-variant: small-caps;
  font-weight: 900;
}